image: mcr.microsoft.com/dotnet/sdk:8.0

stages:
  - build
  - test

variables:
  BUILD_CONFIGURATION: "Release"

build:
  stage: build
  script:
    - dotnet restore
    - dotnet build --configuration $BUILD_CONFIGURATION --no-restore
  artifacts:
    paths:
      - bin/

test:
  stage: test
  script:
    - dotnet test --configuration $BUILD_CONFIGURATION --no-build --verbosity normal
  dependencies:
    - build
